@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/bootstrap';
// @import './jquery.mb.YTPlayer.scss';

$dark-gray: #2E2E2E; 
$black: #000;
$orange: #fe840e;
$bright: #edb210;
$moderate-blue: #333399;
$Strong-pink: #cc3380;
$Dark-cyan: #006680;
$Strong-orange: #b36600;
$Strong-blue: #1a80cc;

body,html{
    font-family: -apple-system, "Microsoft JhengHei", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.opening-menu{
  position: absolute;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background: rgba($black,.5);
  z-index: 95;
}
.header{
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 10;
  transition: all .5s;
}
.header-dark{
  background: rgba($dark-gray,.9);
  transition: all 1s;
}
.nav{
  min-height: 47.6px;
}

.banner-bg{
  height: 100vh;
  background: url(../src/assets/images/Croatia-lg.jpg) no-repeat center center;
  background-size: cover;
}
.banner-mask{
  height: 100%;
  background:rgba($black,.1);
}

.menu{
  @include media-breakpoint-down(md){
    // display: none !important;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: $dark-gray;
    width: 300px;
    z-index: 99;
    transition: all .3s;
    transform: translateX(300px);
  }
  li{
    @include media-breakpoint-down(md){
      border-bottom: 1px solid #444;
    }
  }
  li:nth-child(n+2){
    @include media-breakpoint-down(md){
      text-align: center;
      border-bottom: 1px solid #444;
    }
  }
  .menu-item{
    position: relative;
    &:after{
      content: '/';
      font-size: 15px;
      display: block;
      position: absolute;
      left: -3px;
      top: 0.8rem;
      color: #CCCCCC;
      @include media-breakpoint-down(md){
        display: none;
      }
    } 
    .dropdown-toggle::after{
      margin-left: .5rem;
    }
  }
  a{
    display: inline-block;
    padding: .8rem 1rem;
    text-decoration: none;
    color: $white;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all .3s;
    @include media-breakpoint-down(md){
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
      display: block;
      transition: all .1s;
    }
    &:hover{
      @include media-breakpoint-up(lg){
        color: $bright;
      }
      @include media-breakpoint-down(lg){
        background: $bright;
      }
    }
  }
  .close-link{
    width: 43px;
    &:hover{
      @include media-breakpoint-down(lg){
        background: $dark-gray;
      }
    }
  }
}

.open-offcanvas{
  transform: translateX(0);
}

.close-menu{
  font-size: 16px;
}


.cart{
  position: relative;
  height: auto;
}
.cart-check{
  border: none;
  background: transparent;
  color: $white;
  height: 100%;
  padding: 0 1rem;
  transition: all 1s; 
  &:active,&:focus{
    outline: 0;
  }   
}

.shopping-cart{
  @include media-breakpoint-down(md){
    transform: translateY(2px);
  }
}
.cart-num{
  background: $red;
  position: absolute;
  left:22px;
  top:6px;
  letter-spacing: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 16px;
  padding: 1px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  transition: all .3s;
  animation:  opacitys 3s linear infinite; 
}
.dropdown-menu{
  right: 0;
  left: auto;
  @include media-breakpoint-down(xs){
    max-width: 280px;
  }
}

.mobile-link{
  border: none;
  background: transparent;
  color: $white;
  height: auto;
  padding: 0 1rem;
  font-size: 25px;
  display: none;
  @include media-breakpoint-down(md){
    display: block;
  }
  &:active,&:focus{
    outline: 0;
  }   
}



.loading-box{
  height: 100vh;
  width: 100%;
  transition: all .3s;
  position: fixed;
  top: 0;
  z-index: 111;
  &.index0{
    z-index: -1;
    display: none;
  }
}

.loading-bg{
  background: rgba($white,1);
}

.loading-img{
 overflow: hidden;
 padding: .5rem 0;
 span{
  color:#444;
  font-weight: 700;
  position: relative;
    em{
      top:0;
      left:0;
      position: absolute;
      background: $white;
      width: 100%;
      height: 35px;
      display: block;
      animation:  text-fade 10s linear; 
    }
  }
}

.fade-enter-active, 
.fade-leave-active {
  transition: opacity .8s;
}

.fade-enter, 
.fade-leave-to {
  opacity: 0;
}

@keyframes text-fade {
  from {
    transform: translateX(0);
  }
  20% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(300px);
  }
}

@keyframes opacitys {
  from {
    background: #dc3545 ;
  }
  20% {
    background: #FF6F61;
  }
  70% {
    background: #dc3545;
  }
}

.title-bg{
  background:rgba($black,.3);
}

.title-box{
  border: 1px solid $white;
  small{
    font-style: italic;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    @include media-breakpoint-down(md){
      font-size: 16px;
    }
  }
  h1{
    font-size: 50px;
    @include media-breakpoint-down(md){
      font-size: 40px;
      @include media-breakpoint-down(xs){
        font-size: 30px;
      }
    }
  }
}

.explore-icon{
  text-decoration: none;
  display: block;
  position: absolute;
  left:50%;
  bottom: 2rem;
  transform: translateX(-50%);
  width: 32px;
  height: 50px;
  line-height: 65px;
  background:url(../src/assets/scorll.png);
  @include media-breakpoint-down(sm){
    background: none;
  }
  .angle-down{
    font-size: 20px;
    animation: fadeInDown 2s infinite;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.common{
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-down(sm){
    height: 100%;
    margin-top: 20px;
  }
  .hr-style{
    height: 6px;
	  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
  }
  img{
    width: 100%;
  }
  .common-btn{
    text-decoration: none;
    display: inline-block;
    padding: .3rem .7rem;
    background: $white;
    border-radius: 5px;
    font-weight: 700;
    transition: all .3s;
    &:hover{ 
      background: $gray-200;
    }
  }
  span{
    font-size: 40px;
  }
  em{
    font-size: 20px;
    vertical-align: bottom;
  }
}

.newzealand-bg{
  background-image: url(../src/assets/images/new-zealand-lg.jpg);
  @include media-breakpoint-down(sm){
    background-image: none;
  }
}

.newzealand-content{
  padding-top: 200px;
  padding-left: 20%;
  @include media-breakpoint-down(sm){
    padding: 0;
  }
}

.newzealand-box{
  max-width: 450px;
  background: rgba($moderate-blue,.7);
  @include media-breakpoint-down(sm){
    max-width: 740px;
    background: rgba($moderate-blue,1);
  }
  h5{
    color: $bright;
  }
  a{
    color: rgba($moderate-blue,.7);
  }
}


.Maldives-bg{
  background-image: url(../src/assets/images/Maldives-lg.jpeg);
  @include media-breakpoint-down(sm){
    background-image: none;
  }
}

.Maldives-content{
  padding-top: 200px;
  padding-left: 50%;
  @include media-breakpoint-down(md){
    padding-left: 30%;
    @include media-breakpoint-down(sm){
      padding: 0;
    }
  }
}

.Maldives-box{
  max-width: 450px;
  background: rgba($Dark-cyan,.8);
  @include media-breakpoint-down(sm){
    max-width: 740px;
    background: rgba($Dark-cyan,1);
  }
  h5{
    color: $bright;
  }
  a{
    color: rgba($Dark-cyan,.8);
  }
}


.Egypt-bg{
  background-image: url(../src/assets/images/Egypt-lg.jpg);
  @include media-breakpoint-down(sm){
    background-image: none;
  }
}

.Egypt-content{
  padding-top: 200px;
  padding-left: 15%;
  @include media-breakpoint-down(sm){
    padding: 0;
  }
}

.Egypt-box{
  max-width: 450px;
  background: rgba($Strong-pink,.8);
  @include media-breakpoint-down(sm){
    max-width: 740px;
    background: rgba($Strong-pink,1);
  }
  h5{
    color: $bright;
  }
  a{
    color: rgba($Strong-pink,.8);
  }
}


.Peru-bg{
  background-image: url(../src/assets/images/Peru-lg.jpg);
  @include media-breakpoint-down(sm){
    background-image: none;
  }
}

.Peru-content{
  padding-top: 200px;
  padding-left: 60%;
  @include media-breakpoint-down(lg){
    padding-left: 45%;
    @include media-breakpoint-down(md){
      padding-left: 25%;
      @include media-breakpoint-down(sm){
        padding: 0;
      }
    }
  }
}

.Peru-box{
  max-width: 450px;
  background: rgba($Strong-blue,.7);
  @include media-breakpoint-down(sm){
    max-width: 740px;
    background: rgba($Strong-blue,1);
  }
  h5{
    color: #ffcf9d;
  }
  a{
    color: rgba($Strong-blue,.7);
  }
}

.Iceland-bg{
  height: calc(100vh - 98px);
  background-image: url(../src/assets/images/Iceland-lg.jpg);
  @include media-breakpoint-down(sm){
    background-image: none;
    height: 100%;
  }
}

.Iceland-content{
  padding-top: 200px;
  padding-left: 20%;
  @include media-breakpoint-down(sm){
    padding: 0;
  }
}

.Iceland-box{
  max-width: 450px;
  background: rgba($Strong-orange,.7);
  @include media-breakpoint-down(sm){
    max-width: 740px;
    background: rgba($Strong-orange,1);
  }
  h5{
    color: #ffcf9d;
  }
  a{
    color: rgba($Strong-orange,.7);
  }
}

.animated-left{
  opacity: 0;
  transition: all 2s;
  transform: translateX(-100%);
  @include media-breakpoint-down(sm){
    transition: all 1.5s;
  }
}

.animated-right{
  opacity: 0;
  transition: all 2s;
  transform: translateX(100%);
  @include media-breakpoint-down(sm){
    transition: all 1.5s;
  }
}

.fade-X{
  opacity: 1;
  transform: translateX(0);
}


.footer-bg{
  background: $dark-gray;
  a{
    display: block;
    color: $white;
    transition: all .5s;
    &:hover{
      transform: rotate(360deg);
    }
  }
}

