.customerCart,
.CreateOrder {
  min-height: calc(100vh - 96px);
}

.customerCart-title {
  font-size: 2rem;
}

.nonecart {
  border: 1px solid $grayish-orange;
  color: $grayish-orange;
  border-radius: 5px;
}

.cart-recommend {
  color: $grayish-orange;
}

.customerCart-list {
  li {
    box-shadow: 0 0 10px $light-gray;
    position: relative;
  }
  .delete-cartlist {
    border: none;
    border: 1px solid $Strong-blue;
    background: transparent;
    color: $Strong-blue;
    font-size: 15px;
    padding: 0.3rem 0;
    width: 70px;
    text-align: center;
    border-radius: 3px;
    white-space: nowrap;
    letter-spacing: 1px;
    transition: all 0.3s;
    outline: 0;
    @include media-breakpoint-down(xs) {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
    &:hover {
      color: $white;
      background: $Strong-blue;
    }
    &:focus {
      outline: 0;
    }
  }
  .customerCart-list-title {
    font-size: 1.25rem;
    @include media-breakpoint-down(sm) {
      width: 130px;
      @include media-breakpoint-down(xs) {
        width: auto;
      }
    }
  }
  .customerCart-list-info {
    font-size: 15px;
    .price {
      color: $Bright-red;
    }
  }
}

.customerCart-img {
  max-width: 250px;
  @include media-breakpoint-down(xs) {
    max-width: 500px;
  }
}

.customerCart-order {
  border-radius: 3px;
  color: $dark-gray;
  box-shadow: 0 0 10px $light-gray;
  border-top: 3px solid $Bright-red;
  h2 {
    font-size: 1.5rem;
  }
  hr {
    border-color: rgba($light-gray, 0.6);
    border-width: 2px;
  }
}

.customerCart-order-item {
  border-bottom: 1px dashed rgba($light-gray, 0.4);
  padding: 12px 0;
  h5 {
    font-size: 15px;
  }
  span {
    font-size: 12px;
  }
  .order-item-price {
    font-size: 15px;
    font-weight: 700;
  }
}

.customerCart-order-Nextstep {
  .subtotal {
    font-size: 15px;
  }
  .total {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
    color: $Bright-red;
  }
  button {
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    padding: 0.5rem 0;
    background: $Bright-red;
    color: $white;
    border-radius: 3px;
    transition: all 0.3s;
    outline: 0;
    &:hover {
      background: $Strong-red;
    }
  }
}
