$dark-gray: #2E2E2E; 
$black: #000000;
$light-dark:#444444;
$orange: #fe840e;
$bright: #edb210;
$moderate-blue: #333399;
$Strong-pink: #cc3380;
$Dark-cyan: #006680;
$Strong-orange: #b36600;
$Strong-blue: #1a80cc;
$Pale-orange: #ffcf9d;
$grayish-orange: #9f8d79;
$lighter-gray: #f2f2f2;
$light-gray: #CCCCCC;
$Bright-orange: #f9c734;
$Bright-red: #e53a40;
$Strong-red: #c13035;
$Bright-blue: #30a9de;
$Moderate-green: #88be39;
$Pure-orange: #f77500;
$pale-yellow: #fffcf3;
$Pale-orange: #ffdda5;
$pale-red: #ffd7df;
$lighter-red: #fce3e8;
$lighter-blue: #f3fbfe;
$pale-blue: #c9ecff;
$Soft-blue: #669df6;
$dark-grayish-orange: #382e25;
$Vivid-cyan: #12c7eb;