.modal-price {
  .h4 {
    color: $Bright-red;
    font-size: 1.25rem;
  }
}

.modal-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.modal-total {
  color: $Bright-red;
}

.modal-btn {
  border: none;
  padding: .5rem 0;
  background: $Bright-red;
  color: $white;
  border-radius: 3px;
  outline: 0;
  transition: all .3s;
  &:hover {
    background: $Strong-red;
    color: $white;
  }
  &:focus{
    outline: 0;
  }
}

.leave-modal {
  font-size: 14px;
  p {
    color: $light-dark;
  }
  button {
    outline: 0;
    padding: 0.4rem 1.5rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s;
  }
  .confirm {
    border: 1px solid $Soft-blue;
    background: $Soft-blue;
    color: $white;
    &:hover {
      background: rgba($Soft-blue, 0.9);
    }
  }
  .cancel {
    border: 1px solid $light-gray;
    background: transparent;
    color: $Soft-blue;
    &:hover {
      background: $lighter-gray;
    }
  }
}
