.OrderComplete {
  min-height: calc(100vh - 98px);
  h1 {
    font-size: 2rem;
  }
  .continue {
    border: none;
    background: $Bright-red;
    color: $white;
    padding: 0.5rem 0;
    width: 280px;
    letter-spacing: 1px;
    text-align: center;
    transition: all 0.3s;
    outline: 0;
    &:hover {
      color: $white;
      background: $Strong-red;
    }
  }
}

.OrderComplete-data {
  border: 1px solid $light-gray;
  color: $dark-gray;
  h4 {
    font-size: 1.25rem;
  }
  .yourOrder {
    font-size: 14px;
    width: 280px;
    .info {
      color: $Pure-orange;
    }
  }
}
