.OrderPayment {
  h1 {
    font-size: 2rem;
  }
}

.OrderPayment-message,
.OrderPayment-data,
.OrderPayment-pay {
  color: $light-dark;
  h2 {
    font-weight: 700;
    color: $dark-gray;
    font-size: 1.25rem;
  }
}

.OrderPayment-message {
  border: 1px solid $Pale-orange;
  h2 {
    background: $pale-yellow;
    border-bottom: 1px solid $Pale-orange;
  }
}
.OrderPayment-data {
  border: 1px solid $pale-red;
  h2 {
    background: $lighter-red;
    border-bottom: 1px solid $pale-red;
  }
  .total {
    color: $Bright-red;
  }
}

.OrderPayment-pay {
  border: 1px solid $pale-blue;
  h2 {
    background: $lighter-blue;
    border-bottom: 1px solid $pale-blue;
  }
}

.OrderPayment-common,
.OrderPayment-card {
  .data {
    width: 120px;
    display: inline-block;
    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}

.OrderPayment-common {
  border-bottom: 1px dashed rgba($light-gray, 0.6);
  color: $dark-gray;
}

.OrderPayment-card {
  width: 50%;
  @include media-breakpoint-down(lg) {
    width: 70%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  label {
    min-width: 100px;
    display: inline-block;
    margin-bottom: 0;
  }
}

.OrderPayment-card-sm {
  width: 30%;
  @include media-breakpoint-down(lg) {
    width: 50%;
    @include media-breakpoint-down(sm) {
      width: 75%;
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
    }
  }
}

.submit-pay {
  width: 200px;
  text-align: center;
  border: none;
  padding: 0.5rem 0;
  letter-spacing: 1px;
  border-radius: 5px;
  background: $Bright-red;
  color: $white;
  transition: all 0.3s;
  outline: 0;
  &:hover {
    color: $white;
    background: $Strong-red;
  }
  &:focus {
    outline: 0;
  }
}
