.ProductsDetails-content {
  @include media-breakpoint-down(md) {
    border: 1px solid $light-gray;
    padding: 30px;
    @include media-breakpoint-down(md) {
      padding: 20px;
    }
  }
  h1 {
    color: $dark-gray;
    font-size: 1.5rem;
  }
}

.ProductsDetails-main {
  .offer {
    color: $Bright-red;
  }
  .remind {
    color: $dark-gray;
    span {
      width: 20px;
      display: inline-block;
    }
  }
  .total-price {
    font-size: 18px;
    color: $Bright-red;
  }
  .registration-btn {
    padding: 0.62rem 2.5rem;
    border: none;
    background: $Bright-red;
    color: $white;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    outline: 0;
    transition: all 0.3s;
    &:focus {
      outline: 0;
    }
    &:hover {
      background: $Strong-red;
    }
  }
}

.ProductsDetails-description {
  color: $dark-gray;
  border-top: 1px solid $light-gray;
  h3 {
    font-size: 1.5rem;
  }
  .bookmark {
    color: $Bright-orange;
    border: 1px solid $Bright-orange;
    border-radius: 50%;
    padding: 1.75px 7px;
    font-size: 14px;
  }
  .star {
    color: $Bright-orange;
    border: 1px solid $Bright-orange;
    border-radius: 50%;
    padding: 2.5px 5.12px;
    font-size: 14px;
  }
}
